In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('NWP_해구별예측_20210827155754.csv',encoding="cp949")

In [3]:
df

      해구번호  유의파고(m)  파향(deg)  최대파주기(sec)  풍속(m/s)  풍향(deg)
0        1      1.2      149         7.7      6.6      150
1        2      1.3      121         7.6      3.4      211
2        3      1.3      122         7.6      4.1      213
3        4      1.4      123         7.6      3.1      179
4        5      1.5      123         7.5      5.7      146
...    ...      ...      ...         ...      ...      ...
1326  8300   -999.0     -999      -999.0   -999.0     -999
1327  8301      0.3      177         6.7      6.8      162
1328  8302      0.8      180         8.2      6.9      147
1329  8303      0.6      134         7.6      2.9      187
1330  8304      1.1      143         7.6      5.3      152

[1331 rows x 6 columns]

In [12]:
x_data = df.loc[:, ['유의파고(m)','파향(deg)','최대파주기(sec)','풍속(m/s)','풍향(deg)']]
x_data = x_data.astype(np.float32)
trench_num = df.loc[:, ["해구번호"]]

In [13]:
from tensorflow.keras.models import load_model
loaded_model = load_model('best_model')

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_data_scaled = scaler.fit_transform(x_data)

In [15]:
result=loaded_model.predict(x_data_scaled, verbose=1)
result

42/42 [==============================] - 0s 764us/step

array([[0.5664259 , 0.43409395],
       [0.57506186, 0.4255572 ],
       [0.57420313, 0.42640054],
       ...,
       [0.55599123, 0.44447553],
       [0.57079905, 0.4297943 ],
       [0.5688443 , 0.43170598]], dtype=float32)

In [16]:
loaded_model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 2)                 12
=================================================================
Total params: 12
Trainable params: 12
Non-trainable params: 0
_________________________________________________________________

In [22]:
from sqlalchemy import create_engine
import pymysql

In [23]:
db_connection_str = 'mysql+pymysql://admin:hanium123!@database-1.caua660cnte5.ap-northeast-2.rds.amazonaws.com/dongjun-test-db'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [26]:
import sqlalchemy

dtypesql = {'trench_num':sqlalchemy.types.Integer(), 
          'loss':sqlalchemy.types.Float(), 
          'acc':sqlalchemy.types.Float(),  
}
# replace = 테이블 삭제후 재생성
result_df.to_sql(name='ml_result', con=db_connection, if_exists='replace',index=False)

AttributeError: module 'sqlalchemy.types' has no attribute 'integer'